.header {
  display: flex;
  position: sticky;
  justify-content: space-evenly;
  border-bottom: 0.1px solid lightgray;
  padding-top: 10px;
  padding-bottom: 10px;
  width: 100%;
  top: 0;
  z-index: 999;
  background-color: white;
}

.header__left {
  display: flex;
}

.header__logo {
  object-fit: contain;
  height: 40px !important;
  width: 40px !important;
  margin-right: 10px;
  color: #0a66c2;
}

.header__search {
  display: flex;
  align-items: center;
  padding: 10px;
  border-radius: 5px;
  height: 40px;
  color: gray;
  background-color: #eef3f8;
}

.header__search > input {
  outline: none;
  border: none;
  background-color: transparent;
}

.header__right {
  display: flex;
}
