.login {
  display: grid;
  place-items: center;
  margin: 0 auto;
  padding: 100px 0;
}

.login > img {
  object-fit: contain;
  width: 220px;
}

.login > form {
  display: flex;
  flex-direction: column;
}

.login > form > input {
  width: 350px;
  height: 50px;
  font-size: 20px;
  padding: 0 10px;
  margin-bottom: 10px;
  border-radius: 5px;
}

.login > form > button {
  width: 350px;
  height: 50px;
  font-size: large;
  color: #fff;
  background-color: #0074b1;
  border-radius: 5px;
}

.login > p {
  margin-top: 20px;
}

.login__register {
  color: #0074b1;
  cursor: pointer;
}
